#{extends 'main.html' /}
#{set title:'Ambiente de Control' /}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        $(".active").removeClass("active");
        $(".controlEnvironmentMenuV").addClass("active");

        $(".planeacionMenu").click(function(event){
        	$(".active").removeClass("active");
            $(".controlEnvironmentMenuV").addClass("active");
        	$(".planeacionMenu").addClass("active");	
        });
        $(".integridadValoresEMenu").click(function(event){
        	$(".active").removeClass("active");
            $(".controlEnvironmentMenuV").addClass("active");
        	$(".integridadValoresEMenu").addClass("active");	
        });
        $(".idoneidadDemostradaMenu").click(function(event){
        	$(".active").removeClass("active");
            $(".controlEnvironmentMenuV").addClass("active");
        	$(".idoneidadDemostradaMenu").addClass("active");	
        });
        $(".estructuraMenu").click(function(event){
        	$(".active").removeClass("active");
            $(".controlEnvironmentMenuV").addClass("active");
        	$(".estructuraMenu").addClass("active");	
        });
        $(".gestionRRHHMenu").click(function(event){
        	$(".active").removeClass("active");
            $(".controlEnvironmentMenuV").addClass("active");
        	$(".gestionRRHHMenu").addClass("active");	
        });
    });    
</script>

<h2 class="art-postheader">Ambiente de Control</h2>
<div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
	<div class="art-content-layout-row">
    	<div class="art-layout-cell layout-item-0" style="width: 100%" >
        	<p>
        		<strong>
        			<span style="font-weight: normal;"><strong>
        			<img alt="" width="340" height="226" src="../../public/images/ambienteComntrol.png" style="float: left; margin-right: 
        				10px" class=""></strong>
        			</span>
        			El n&uacute;cleo de un negocio es su personal (sus atributos individuales, incluyendo la integridad, los 
					valores &eacute;ticos y la profesionalidad) y el entorno en que trabaja, los empleados son el motor que 
					impulsa la entidad y los cimientos sobre los que descansa todo.
        		</strong>
        	</p>
        	<p>
        		El ambiente de control marca la pauta del funcionamiento de una empresa e influye en la
				concienciaci&oacute;n de sus empleados respecto al control. Es la base de todos los dem&aacute;s componentes
				del control interno, aportando disciplina y estructura. Los factores del entorno de control incluyen la
				integridad, los valores &eacute;ticos y la capacidad de los empleados de la empresa, la filosof&iacute;a de 
				direcci&oacute;n y el estilo de gesti&oacute;n, la manera en que la direcci&oacute;n asigna autoridad 
				y las responsabilidades y organiza y desarrolla profesionalmente a sus empleados y la atenci&oacute;n y 
				orientaci&oacute;n que proporciona al consejo de administraci&oacute;n. 
        	</p>
        	<p>
        		El ambiente de control propicia la estructura en la que se deben cumplir los objetivos y la preparaci&oacute;n 
				del hombre que har&aacute; que se cumplan. 
        	</p>
    	</div>
    </div>
</div>
