#{extends 'main.html' /}
#{set title:'Actividades de Control' /}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        $(".active").removeClass("active");
        $(".controlActivitiesMenuV").addClass("active");
        
        $(".controlActivitiesMenuV").click(function(event){
        	$(".active").removeClass("active");
            $(".controlActivitiesMenuV").addClass("active");
        	$(".documentacionMenu").addClass("active");	
        });
        $(".ctrolTecnologiasMenu").click(function(event){
        	$(".active").removeClass("active");
            $(".controlActivitiesMenuV").addClass("active");
        	$(".ctrolTecnologiasMenu").addClass("active");	
        });
    });    
</script>

<h2 class="art-postheader">Actividades de Control</h2>
<div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
	<div class="art-content-layout-row">
    	<div class="art-layout-cell layout-item-0" style="width: 100%" >
        	<p>
        		<strong>
        			<span style="font-weight: normal;"><strong>
        			<img alt="" width="340" height="226" src="../../public/images/shutterstock_12199630.jpg" style="float: left; margin-right: 
        				10px" class=""></strong>
        			</span>
        			Deben establecerse y ajustarse pol&iacute;ticas y procedimientos que ayuden a conseguir una seguridad 
					razonable de que se llevan a cabo en forma eficaz las acciones consideradas necesarias para 
					afrontar los riesgos que existen respecto a la consecuci&oacute;n de los objetivos de la unidad.  
        		</strong>
        	</p>
        	<p>
        		Las actividades de control son las pol&iacute;ticas y los procedimientos que ayudan a asegurar que se lleven 
				a cabo las instrucciones de la direcci&oacute;n de la empresa. Ayudan a asegurar que se tomen las medidas 
				necesarias para controlar los riesgos relacionados con la consecuci&oacute;n de los objetivos de la empresa. 
				Hay actividades de control en toda la organizaci&oacute;n, a todos los niveles y en todas las funciones.    
        	</p>
        	<p>
        		Las actividades de control existen a trav&eacute;s de toda la organizaci&oacute;n y se dan en toda la organizaci&oacute;n, 
				a todos los niveles y en todas las funciones, e incluyen cosas tales como; aprobaciones, 
				autorizaciones, verificaciones, conciliaciones, an&aacute;lisis de la eficacia operativa, seguridad de los 
				activos, y segregaci&oacute;n de funciones. 
        	</p>
        	<p>
        		En algunos entornos, las actividades de control se clasifican en; controles preventivos, controles de 
				detecci&oacute;n, controles correctivos, controles manuales o de usuario, controles inform&aacute;ticos o de 
				tecnolog&iacute;a de informaci&oacute;n, y controles de la direcci&oacute;n. Independientemente de la clasificaci&oacute;n que se 
				adopte, las actividades de control deben ser adecuadas para los riesgos. 
        	</p>
        	<p>
        		Hay muchas posibilidades diferentes en lo relativo a actividades concretas de control, lo importante 
				es que se combinen para formar una estructura coherente de control global. 
        	</p>
        	<p>
        		Las empresas pueden llegar a padecer un exceso de controles hasta el punto que las actividades de 
				control les impidan operar de manera eficiente, lo que disminuye la calidad del sistema de control. 
				Por ejemplo, un proceso de aprobaci&oacute;n que requiera firmas diferentes puede no ser tan eficaz como 
				un proceso que requiera una o dos firmas autorizadas de funcionarios componentes que realmente 
				verifiquen lo que est&aacute;n aprobando antes de estampar su firma. Un gran n&uacute;mero de actividades de 
				control o de personas que participan en ellas no asegura necesariamente la calidad del sistema de 
				control. 
        	</p>
    	</div>
    </div>
</div>
