#{extends 'main.html' /}
#{set title:'Supervision o Monitoreo' /}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        $(".active").removeClass("active");
        $(".supervisionMenuV").addClass("active");
    });    
</script>

<h2 class="art-postheader">Supervisi&oacute;n o Monitoreo</h2>
<div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
	<div class="art-content-layout-row">
    	<div class="art-layout-cell layout-item-0" style="width: 100%" >
        	<p>
        		<strong>
        			<span style="font-weight: normal;"><strong>
        			<img alt="" width="340" height="226" src="../../public/images/informacionComunicaciones.png" style="float: left; margin-right: 
        				10px" class=""></strong>
        			</span>
        			Todo el proceso de control de interno debe ser supervisado, introduci&eacute;ndose las modificaciones pertinentes 
        			cuando se estime necesario. De esta forma el sistema puede reaccionar &aacute;gilmente y cambiar de acuerdo a las 
					circunstancias.   
        		</strong>
        	</p>
        	<p>
        		Los sistemas de control interno requieren supervisi&oacute;n, es decir, un proceso que comprueba que se 
				mantiene el adecuado funcionamiento del sistema a lo largo del tiempo. Esto se consigue mediante 
				actividades de supervisi&oacute;n continuada, evaluaciones peri&oacute;dicas o una combinaci&oacute;n de ambas cosas. 
				La supervisi&oacute;n continuada se da en el transcurso de las operaciones. Incluye tanto las actividades 
				normales de direcci&oacute;n y supervisi&oacute;n, como otras actividades llevadas a cabo por el personal en la 
				realizaci&oacute;n de sus funciones. El alcance y la frecuencia de las evaluaciones peri&oacute;dicas depender&aacute;n 
				esencialmente de una evaluaci&oacute;n de los riesgos y de la eficacia de los procesos de supervisi&oacute;n 
				continuada. Las deficiencias detectadas en el control interno deber&aacute;n ser notificadas a niveles superiores, 
				mientras que la alta direcci&oacute;n y el consejo de administraci&oacute;n deber&aacute;n ser informados de 
				los aspectos significativos observados.    
        	</p>
        	<p>
        		Es preciso supervisar continuamente los controles internos para asegurarse de que el proceso 
				funciona seg&uacute;n lo previsto. Esto es muy importante  porque a medida que cambian los factores 
				internos y externos, controles que una vez resultaron id&oacute;neos y efectivos pueden dejar de ser 
				adecuados y de dar a la direcci&oacute;n la razonable seguridad que ofrec&iacute;an antes. 
        	</p>
        	<p>
        		El alcance y frecuencia de las actividades de supervisi&oacute;n dependen de los riesgos a controlar y del 
				grado de confianza que inspira a la direcci&oacute;n el proceso de control. La supervisi&oacute;n de los controles 
				internos puede realizarse mediante actividades continuas incorporadas a los procesos empresariales 
				y mediante evaluaciones separadas por parte de la direcci&oacute;n, de la funci&oacute;n de auditoria interna o de 
				personas independientes. Las actividades de supervisi&oacute;n continua destinadas a comprobar la eficacia 
				de los controles internos incluyen las actividades  peri&oacute;dicas de direcci&oacute;n y supervisi&oacute;n, 
				comparaciones, conciliaciones, y otras acciones de rutina.  
        	</p>
    	</div>
    </div>
</div>
