#{extends 'main.html' /}
#{set title:'Informacion y Comunicaciones' /}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        $(".active").removeClass("active");
        $(".informationComunicationMenuV").addClass("active");
        
        $(".planeacionMenu").click(function(event){
        	$(".active").removeClass("active");
            $(".controlEnvironmentMenuV").addClass("active");
        	$(".planeacionMenu").addClass("active");	
        });
        $(".integridadValoresEMenu").click(function(event){
        	$(".active").removeClass("active");
            $(".controlEnvironmentMenuV").addClass("active");
        	$(".integridadValoresEMenu").addClass("active");	
        });
        $(".idoneidadDemostradaMenu").click(function(event){
        	$(".active").removeClass("active");
            $(".controlEnvironmentMenuV").addClass("active");
        	$(".idoneidadDemostradaMenu").addClass("active");	
        });
        $(".estructuraMenu").click(function(event){
        	$(".active").removeClass("active");
            $(".controlEnvironmentMenuV").addClass("active");
        	$(".estructuraMenu").addClass("active");	
        });
        $(".gestionRRHHMenu").click(function(event){
        	$(".active").removeClass("active");
            $(".controlEnvironmentMenuV").addClass("active");
        	$(".gestionRRHHMenu").addClass("active");	
        });
    });    
</script>

<h2 class="art-postheader">Informaci&oacute;n y Comunicaciones</h2>
<div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
	<div class="art-content-layout-row">
    	<div class="art-layout-cell layout-item-0" style="width: 100%" >
        	<p>
        		<strong>
        			<span style="font-weight: normal;"><strong>
        			<img alt="" width="340" height="226" src="../../public/images/informacionComunicaciones.png" style="float: left; margin-right: 
        				10px" class=""></strong>
        			</span>
        			El fomentar un ambiente adecuado para promover una comunicaci&oacute;n abierta y efectiva est&aacute; fuera 
					del alcance de los manuales de pol&iacute;ticas y procedimientos. Depende del ambiente que reina en la 
					organizaci&oacute;n y del tono que da la alta direcci&oacute;n.  
        		</strong>
        	</p>
        	<p>
        		En la actualidad nadie concibe la gesti&oacute;n de una empresa sin sistemas de informaci&oacute;n. La tecnolog&iacute;a 
				de informaci&oacute;n se ha convertido en algo tan corriente que se da por descontada. En muchas 
				organizaciones los directores se quejan de que los  voluminosos informes que reciben les exigen 
				revisar demasiados datos para extraer la informaci&oacute;n pertinente.    
        	</p>
        	<p>
        		En tales casos puede haber comunicaci&oacute;n pero la informaci&oacute;n est&aacute; presentada de manera que el 
				individuo no la puede utilizar o no la utiliza real y efectivamente. Para ser verdaderamente efectiva 
				la TI debe estar integrada en las operaciones de manera que soporte estrategias proactivas en lugar 
				de reactivas.   
        	</p>
        	<p>
        		Todo el personal, especialmente el que cumple importantes funciones operativas o financieras, debe 
				recibir y entender el mensaje de la alta direcci&oacute;n, de que las obligaciones en materia de control 
				deben tomarse en serio. Asimismo debe conocer su propio papel en el sistema de control interno, as&iacute; 
				como la forma en que sus actividades individuales se relacionan con el trabajo de los dem&aacute;s. 
				Si no se conoce el sistema de control, los cometidos espec&iacute;ficos y las obligaciones en el sistema, es 
				probable que surjan problemas. Los empleados tambi&eacute;n deben conocer c&oacute;mo sus actividades se 
				relacionan con el trabajo de los dem&aacute;s.  
        	</p>
        	<p>
        		Los empleados deben saber que sus superiores desean enterarse de los problemas, y que no se 
				limitar&aacute;n a apoyar la idea y despu&eacute;s adoptar&aacute;n medidas contra los empleados que saquen a luz 
				cosas negativas. En empresas o departamentos mal gestionados se busca la correspondiente 
				informaci&oacute;n pero no se adoptan medidas y la persona que proporciona la informaci&oacute;n puede sufrir 
				las consecuencias. 
        	</p>
        	<p>
        		Adem&aacute;s de la comunicaci&oacute;n interna debe existir una comunicaci&oacute;n efectiva con entidades externas 
				tales como accionistas, autoridades, proveedores y  clientes. Ello contribuye a que las entidades 
				correspondientes comprendan lo que ocurre dentro de la organizaci&oacute;n y se mantengan bien 
				informadas. Por otra parte, la informaci&oacute;n comunicada por entidades externas a menudo contiene 
				datos importantes sobre el sistema de control interno.  
           	</p>
    	</div>
    </div>
</div>
