#{extends 'main.html' /}
#{set title:'Gestion y Prevencion de Riesgos' /}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        $(".active").removeClass("active");
        $(".riskManagmentMenuV").addClass("active");
    });    
</script>

<h2 class="art-postheader">Gesti&oacute;n y Prevenci&oacute;n de Riesgos</h2>
<div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
	<div class="art-content-layout-row">
    	<div class="art-layout-cell layout-item-0" style="width: 100%" >
        	<p>
        		<strong>
        			<span style="font-weight: normal;"><strong>
        			<img alt="" width="340" height="226" src="../../public/images/shutterstock_12199630.jpg" style="float: left; margin-right: 
        				10px" class=""></strong>
        			</span>
        			La entidad debe conocer y abordar los riesgos con que se enfrenta, estableciendo mecanismos para
					identificar, analizar y tratar los riesgos correspondientes en las distintas &aacute;reas. 
        		</strong>
        	</p>
        	<p>
        		Las organizaciones, cualquiera sea su tama&ntilde;o, se enfrentan a diversos riesgos de origen externos e 
				internos que tienen que ser evaluados. Una condici&oacute;n previa a la evaluaci&oacute;n del riesgo es la 
				identificaci&oacute;n de los objetivos a los distintos niveles, vinculados entre s&iacute; e internamente coherentes. 
				La evaluaci&oacute;n de los riesgos consiste en la identificaci&oacute;n y el an&aacute;lisis de los riesgos relevantes para 
				la consecuci&oacute;n de los objetivos, y sirve de base para determinar c&oacute;mo han de ser gestionados los 
				riesgos. Debido a que las condiciones econ&oacute;micas, industriales, legislativas y operativas continuaron
				cambiando continuamente, es necesario disponer de mecanismos para identificar y afrontar los 
				riesgos asociados con el cambio.    
        	</p>
        	<p>
        		Aunque para crecer es necesario asumir riesgos prudentes, la direcci&oacute;n debe identificar y analizar 
				riesgos, cuantificarlos, y prever la probabilidad de que ocurran as&iacute; como las posibles consecuencias. 
        	</p>
        	<p>
        		La evaluaci&oacute;n del riesgo no es una tarea a cumplir de una vez para siempre. Debe ser un proceso 
				continuo, una actividad b&aacute;sica de la organizaci&oacute;n, como la evaluaci&oacute;n continua de la utilizaci&oacute;n de 
				los sistemas de informaci&oacute;n o la mejora continua de los procesos.  
        	</p>
        	<p>
        		Los procesos de evaluaci&oacute;n del riesgo deben estar orientados al futuro, permitiendo a la direcci&oacute;n 
				anticipar los nuevos riesgos y adoptar las medidas oportunas para minimizar y/o eliminar el impacto 
				de los mismos en el logro de los resultados esperados. La evaluaci&oacute;n del riesgo tiene un car&aacute;cter 
				preventivo y se debe convertir en parte natural del proceso de planificaci&oacute;n de la empresa. 
        	</p>
    	</div>
    </div>
</div>
