#{extends 'main.html' /}
#{set title:'Nuestros Clientes' /}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        $(".active").removeClass("active");
        $("#clientsMenu").addClass("active");
        $("#clientsMenuV").addClass("active");
    });    
</script>

<h2 class="art-postheader">Nuestros Clientes</h2>
<div class="art-postcontent art-postcontent-0 clearfix">
	<div class="art-content-layout">
    	<div class="art-content-layout-row">
    		<div class="art-layout-cell layout-item-0" style="width: 100%" >
        		<p><span style="font-weight: bold;">Libero ante vestibulum curabitur purus nisl quisque. Eros lacus cras hendrerit turpis pellentesque semper vestibulum nostra turpis donec tempor turpis congue quisque id dui cras mollis posuere at vel quis dolor quis.</span></p>
        		<p>Morbi lacus a consectetuer ullamcorper metus ipsum sit. Metus donec hendrerit cubilia odio commodo ante sit 
        			egestas suscipit leo varius eu sapien vestibulum ac sociis. Etiam aenean magna ut accumsan aliquet purus platea 
        			eget nec pede. Sagittis hendrerit mauris auctor eros nec pellentesque turpis mollis nec.<br>
        		<br></p>
        		
        		<h3>BetterWeb Company</h3>
        		<p>Dictumst nam condimentum odio lacus suscipit nec arcu. Praesent tincidunt sit lobortis suspendisse 
        			semper nunc neque posuere orci felis vel in et ut pellentesque sed. Metus etiam est eleifend nullam egestas ac sit
        		 	etiam malesuada ut.<br>
        			<a href="BetterWebCompany.com">BetterWebCompany.com<br><br></a>
        		</p>
        
        		<h3>IntelliIdeas.com</h3>
        		<p>Eleifend tellus vestibulum neque maecenas aenean etiam. Enim sit sed aenean quam condimentum euismod in id 
        			pellentesque mollis odio diam nulla pede leo blandit tellus. Pellentesque amet eu vestibulum quis nunc sed sit 
        			fusce quis erat.<br>
        			<a href="IntelliIdeas.com">IntelliIdeas.com<br><br></a>
        		</p>
        		
        		<h3>ProSolutions, Inc.</h3>
        		<p>In praesent ac massa pellentesque tempus blandit dolor. Pede in est quam nullam iaculis vestibulum 
        			egestas porttitor ullamcorper turpis phasellus curabitur mi urna in. Fringilla habitasse posuere nisl ac
        			porta leo nunc elementum urna.<br>
        			<a href="ProSolutions.com">ProSolutions.com</a>
        		</p>
    		</div>
    	</div>
	</div>
</div>