#{extends 'main.html' /}
#{set title:'Contactenos' /}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        $(".active").removeClass("active");
        $("#contactMenu").addClass("active");
        $("#contactMenuV").addClass("active");
    });    
</script>

    	<h2 class="art-postheader">Cont&aacute;ctenos</h2>
        <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    		<div class="art-content-layout-row">
    			<div class="art-layout-cell layout-item-0" style="width: 100%" >
        			<p><span style="font-weight: bold;">libero a libero eu accumsan viverra id eu egestas vestibulum odio sed
        				 euismod convallis nunc. Faucibus nec orci vestibulum ut lacus.</span></p>
        			<p>Quis in sodales in hendrerit velit curabitur non a dui. Eros sagittis et ligula ac pede sed suspendisse 
        				dolor primis etiam mollis sed dui ante mi magnis nam ac cursus. Nunc et ipsum nonummy sapien vehicula ac 
        				nunc tempus risus ligula. Et adipiscing ligula montes. Pellentesque tortor curabitur nullam in ullamcorper 
        				leo justo id. Dapibus condimentum neque auctor mi quam nec.</p>
        			<h3>Globocom, Inc.</h3>
        			<p>Tempus ligula egestas sodales.<br>
        				Vestibulum tempus.</p>
        			<p>Vivamus tempus sapien.<br>
        				Ullamcorper adipiscing.</p>
        			<p>A.<a href="http://www.globocom.com">http://www.globocom.com</a><br>
        				A.<a href="mailto%3amyemail%40globocom.com">myemail@globocom.com</a></p>
    			</div>
    		</div>
		</div>
