#{extends 'main.html' /}
#{set title:'Principal' /}

<style>
	.art-content .art-postcontent-0 .layout-item-1 { color: #1E3E48; background: #DBEBF0; padding-right: 10px;padding-left: 10px;  }
</style>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        $(".active").removeClass("active");
        $("#indexMenu").addClass("active");
        $("#indexMenuV").addClass("active");
    });    
</script>

<div class="art-postcontent art-postcontent-0 clearfix">
	<div class="art-content-layout">
    	<div class="art-content-layout-row">
    		
    		<div class="art-layout-cell layout-item-0" style="width: 40%" >
        		<p></p>
        		<div class="image-caption-wrapper" style="float: left; width: 217px">
        			<img style="float: left; margin-top: 0px; margin-right: 0px; 
        				margin-bottom: 0px; margin-left: 0px; border-top-width: 0px; border-right-width: 0px; 
        					border-bottom-width: 0px; border-left-width: 0px;" width="217" height="146" alt="" 
        							class="art-lightbox" src="../../public/images/cadc48c3-27dd-4322-a090-24f47a5a32fe.png">
        		</div>
        		<p></p>
    		</div>
    		
    		<div class="art-layout-cell layout-item-0" style="width: 60%" >
        		<p><span style="font-weight: bold;">
        				Nunc metus nec ut vitae imperdiet id ligula nam arcu faucibus arcu mi hendrerit sit ut. 
        				Tortor ultricies sodales volutpat neque arcu mi ligula convallis enim volutpat.
        			</span>
        		</p>
        		<p>Accumsan nunc orci tincidunt id in odio pellentesque. Primis cubilia cras accumsan posuere 
        			ellentesque eros eu proin pede quam eget ac augue sem cubilia porta nisl. Et imperdiet mus 
        			id turpis volutpat enim tempor aenean nisl neque. Commodo neque commodo nulla.
        		</p>
    		</div>
    	</div>
	</div>
	
	<div class="art-content-layout">
    	<div class="art-content-layout-row">
    		<div class="art-layout-cell layout-item-0" style="width: 40%" >
        		<p></p>
        		<div class="image-caption-wrapper" style="float: left; width: 216px">
        			<img style="float: left; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; 
        				margin-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; 
        					border-left-width: 0px;" width="216" height="146" alt="" class="art-lightbox" 
        						src="../../public/images/86d482e2-7585-4e72-a611-b37e76dc3ddd.png">
        		</div>
        		<br/>
        		<p></p>
    		</div>
    									
    		<div class="art-layout-cell layout-item-0" style="width: 60%" >
        		<p>Pellentesque aliquam laoreet lacus nisi aliquam rutrum. Inceptos dui nec orci 
        			maecenas amet augue augue orci eget odio nunc suscipit nibh ac arcu ut 
        			massa morbi mi. Egestas mollis ut non laoreet egestas dui nisi quis.
        		</p>
        		<p>Faucibus sed phasellus nisi. Vivamus mi sem adipiscing ligula hendrerit non et enim vestibulum. 
        			Quis ac in orci netus suspendisse neque a at. Augue sit at ante blandit conubia id lacus ullamcorper. 
        			Augue varius a nunc interdum varius cras a ac.
        		</p>
    		</div>
    	</div>
	</div>
								
	<div class="art-content-layout">
    	<div class="art-content-layout-row">
    		<div class="art-layout-cell layout-item-0" style="width: 60%" >
        		<h3>Noticias</h3>
        			<ul>
        				<li>
        					<p><span style="font-weight: bold;">Nuevos Temas en el Forum.</span><br>
        						<span style="font-style: italic;">Qu&eacute; cree usted que se debe a&ntilde;adir al Convenio Colectivo de trabajo?.</span>
        					</p>
        					<span style="font-style: italic;">Hasta lo que va de a&ntilde;o se ha cumplido el Plan Anual?.</span><br>
        					<p><br></p>
        				</li>
        				<li>
        					<p><span style="font-weight: bold;">Turpis nec erat.</span><br>
        						<span style="font-style: italic;">Dapibus viverra.</span>
        					</p><br/>
        					<p>Mi odio leo fermentum imperdiet vestibulum neque ligula nulla. 
        						Tellus placerat vitae dui sapien cum nam ut in. Quis nisi morbi quisque auctor et nam nulla. Fusce 
        						nullam enim eros non ipsum donec maecenas.
        					</p>
        				</li>
        			</ul>
    			</div>
    			
    			<div class="art-layout-cell layout-item-1" style="width: 40%" >
        			<h3>Por qu&eacute; elegirnos?</h3>
        			<p><span style="font-weight: bold;">Misi&oacute;n.</span></p>
        			<p>Sed in arcu amet malesuada ac vestibulum montes cursus. Lobortis donec dolor posuere eu massa fringilla 
        				faucibus non lorem lorem ut nulla odio.</p>
        			<p><span style="font-style: italic;">Enim semper ut felis nec.</span></p>
        			<p><span style="font-weight: bold;">Visi&oacute;n.</span></p>
        			<p>Ipsum viverra vestibulum augue nisi. Iaculis libero dui venenatis pretium nam donec tincidunt vulputate eu.</p>
        			<p><span style="font-style: italic;">id et cursus sed adipiscing.</span></p>
    			</div>
    	</div>
	</div>
</div>