#{extends 'main.html' /}
#{set title:'Nuestros productos' /}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        $(".active").removeClass("active");
        $("#productsMenu").addClass("active");
        $("#productsMenuV").addClass("active");
    });    
</script>

<h2 class="art-postheader">Nuestros Productos</h2>
<div class="art-postcontent art-postcontent-0 clearfix">
	<div class="art-content-layout">
    	<div class="art-content-layout-row">
    		<div class="art-layout-cell layout-item-0" style="width: 100%" >
        		<p><span style="font-weight: bold;">Erat eu vel fames amet urna erat. Urna dolor ligula litora a feugiat nec lorem non donec vivamus pretium consectetuer dapibus lacus.</span></p>
        		<p>Nulla ut orci euismod at eros condimentum purus curae. Cras ipsum tristique lobortis hendrerit pellentesque aliquam erat diam eleifend curabitur sagittis faucibus ut. Morbi lorem rhoncus porttitor tortor pellentesque et magna orci.</p>
    		</div>
    	</div>
	</div>
	<div class="art-content-layout">
    	<div class="art-content-layout-row">
    		<div class="art-layout-cell layout-item-0" style="width: 50%" >
        		<h3><img width="300" height="203" alt="" class="art-lightbox" src="../../public/images/shutterstock_11189998.jpg"><br></h3>
    		</div>
    		<div class="art-layout-cell layout-item-0" style="width: 50%" >
        		<h3>Satelite Phone$299.99/moFusce ornare elit nisl, feugiat bibendum lorem. Vivamus pretium dictum sem vel laoreet. In fringilla pharetra purus, semper vulputate ligula cursus in. Donec at nunc nec dui laoreet porta eu eu ipsum.</h3>
    		</div>
    	</div>
	</div>
	
	<div class="art-content-layout">
    	<div class="art-content-layout-row">
    		<div class="art-layout-cell layout-item-0" style="width: 50%" >
        		<img width="300" height="203" alt="" class="art-lightbox" src="../../public/images/shutterstock_62287657-01.jpg">
    		</div>
    		<div class="art-layout-cell layout-item-0" style="width: 50%" >
        		<h3>Phone CardsFrom $1.45Fusce ornare elit nisl, feugiat bibendum lorem. Vivamus pretium dictum sem vel laoreet. In fringilla pharetra purus, semper vulputate ligula cursus in. Donec at nunc nec dui laoreet porta eu eu ipsum.</h3>
    		</div>
    	</div>
	</div>
</div>
