#{extends 'main.html' /}
#{set title:'Nuestros Servicios' /}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        $(".active").removeClass("active");
        $("#servicesMenu").addClass("active");
        $("#servicesMenuV").addClass("active");
    });    
</script>

<h2 class="art-postheader">Nuestros Servicios</h2>
<div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
	<div class="art-content-layout-row">
    	<div class="art-layout-cell layout-item-0" style="width: 100%" >
        	<p>
        		<strong>
        			<span style="font-weight: normal;"><strong>
        			<img alt="" width="340" height="226" src="../../public/images/shutterstock_12199630.jpg" style="float: left; margin-right: 
        				10px" class=""></strong>
        			</span>
        			Bibendum eros mi metus vestibulum orci dolor phasellus lorem viverra lacus egestas. Ipsum vitae mauris ante 
        			sagittis libero faucibus aliquam urna quisque ac laoreet velit cursus rutrum aliquet aliquet morbi . Hendrerit 
        			feugiat cras libero nisl posuere magna posuere felis eget.
        		</strong>
        	</p>
        	<p>Dapibus auctor commodo lorem sit habitasse nulla fames. Varius enim eros elit laoreet libero.</p>
        	<p>Ac turpis maecenas condimentum a vel cras auctor quam diam scelerisque. Nunc nisl orci tellus vestibulum iaculis 
        		in mattis curabitur ac. Nec nullam non ligula amet. Mi ut mus placerat aliquam nec a phasellus magna venenatis quam.
        		Ullamcorper nascetur tincidunt duis viverra maecenas dolor faucibus nisl. Ut fringilla sapien quis nisi commodo
        		velit orci erat. Enim risus nibh sed metus nunc leo. Felis turpis jnteger. Quis egestas elit nulla quis 
        		ullamcorper sagittis vel tincidunt posuere in. Pulvinar ornare tincidunt fringilla vestibulum maecenas est. 
        		Sapien tortor nunc suscipit odio. Lacus tellus lobortis vivamus. Arcu aptent nec felis. Adipiscing aenean nunc ante 
        		dolor justo. Dignissim et donec sed.
        	</p>
        	<p>A eu morbi pulvinar ac conubia et aliquet nec. Quis sagittis malesuada fermentum sit. Eros orci velit nam sed 
        		faucibus nec augue egestas eleifend. Egestas pellentesque commodo mauris nullam sed. Sem eleifend vivamus ultricies
        		nisi nam et a. Primis mus libero vestibulum leo in. Proin eros sapien dolor blandit venenatis ullamcorper eleifend 
        		sapien. A eu vestibulum eu per in eros nec aliquam. Blandit turpis adipiscing lobortis in ac ut. Vestibulum purus
        		blandit leo faucibus a duis amet. Sodales lorem dapibus duis. Mi sapien suspendisse non aliquam.
        	</p>
        	<p>Egestas amet pulvinar gravida vitae suspendisse turpis. Morbi erat conubia duis duis sed posuere mattis habitant 
        		donec dapibus. Sapien dapibus sed erat ut hendrerit donec amet fusce quam. Ut nunc nunc odio commodo nullam feugiat 
        		aliquam torquent. Sed lorem iaculis blandit praesent commodo in a pellentesque felis. Egestas eget ante sagittis
        		feugiat lacus fames semper ut. Sagittis phasellus dignissim enim faucibus feugiat egestas. Sem vel metus suscipit 
        		ligula praesent congue. Dictumst vestibulum. Augue imperdiet conubia duis adipiscing. Nulla purus sollicitudin est 
        		ut nunc. Orci faucibus lacus mauris nec vulputate. Sed orci justo eros vestibulum porta per ligula. Id tempus nunc 
        		lobortis. Lacus egestas in nec dui id non vivamus. Ut eleifend maecenas iaculis. Etiam id ut iaculis vel posuere ut 
        		ac nisl nec ipsum fusce eu in. Faucibus eget egestas ultrices non.
        	</p>
        	<p>Amet tellus netus vestibulum eu fusce imperdiet eu hendrerit a lacinia hendrerit suspendisse pretium mollis natoque 
        		metus mauris amet id felis ac tortor arcu sollicitudin vestibulum etiam tincidunt ut pretium enim rutrum nisi nec id
        		primis vitae vel amet ipsum cubilia cras mi tincidunt ut in dui urna sagittis faucibus blandit pellentesque eros
        		elit nec erat aenean felis rutrum ac ipsum interdum congue aliquam purus donec vestibulum orci leo rutrum ante 
        		euismod tortor massa in orci sociis hendrerit lacinia duis in quisque morbi imperdiet magna feugiat commodo quam 
        		luctus libero lacus sit ultrices nec odio donec eget et.
        	</p>
    	</div>
    </div>
</div>
