#{extends 'main.html' /}
#{set title:'Noticia' /}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function (){
        $(".active").removeClass("active");
    });    
</script>

 <h2 class="art-postheader">Latest Update</h2>
 <div class="art-postheadericons art-metadata-icons">
 	<span class="art-postdateicon"></span>| <span class="art-postpdficon"></span>
    | <span class="art-postprinticon"></span>| <span class="art-postemailicon"></span>
 </div>
 <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    	<div class="art-layout-cell layout-item-0" style="width: 100%" >
        	<p><span style="font-weight: bold;">Condimentum  aenean felis ante tincidunt non turpis urna suspendisse sit iaculis 
        		luctus egestas urna a nulla augue tincidunt risus risus nunc.</span></p>
        	<p>Suspendisse commodo non tristique gravida ante libero.  Faucibus vitae nisl egestas pulvinar nunc ac magna ut 
        		massa tortor in augue bibendum etiam suscipit dolor orci. Quisque lacinia et elementum jnteger neque curabitur enim
        		viverra. Arcu magnis et nonummy ut.  Elementum eros nulla eros augue nascetur nec eleifend nam aenean.  
        		Cras elit dolor ligula mollis pede donec leo. Ridiculus lacus eleifend augue  donec eget vestibulum libero augue 
        		justo. Metus ac libero mi fusce dapibus mauris scelerisque a. </p><p>Mattis nulla sed nullam tellus elit. Mus 
        		tincidunt dapibus.  Amet pellentesque curabitur ante vitae nibh ante orci etiam phasellus nisl. Suspendisse id est
        		etiam enim enim vestibulum tincidunt vel. Pellentesque donec aliquam in ac. Lorem ante id fermentum ipsum.  
        		Sagittis rutrum  velit. Tempor  mollis in mollis donec nisl metus. In metus quis taciti. </p>
        	<p>Nunc ad lectus donec nunc mi augue semper etiam consectetuer sem. Aenean consequat elit eros turpis malesuada mollis 
        		dignissim.  Et neque quam ipsum ac erat tristique nibh non placerat dictumst sem. Curabitur facilisis condimentum
        		erat. Cras etiam vestibulum hendrerit  morbi nunc adipiscing.  eget est convallis elit egestas libero. 
        		Pellentesque leo amet quis volutpat nullam habitasse.  Nulla risus amet praesent eros duis scelerisque ac in
        		turpis tellus. Ultrices blandit elit ut vulputate felis risus pulvinar quis aliquet.  Amet arcu vitae tellus id 
        		enim nullam eu sodales luctus a neque. </p>
        	<p>At condimentum cursus blandit nec justo ut vulputate placerat dui sagittis sit phasellus dolor sed. Elit aliquam 
        		nonummy amet dictumst ac in mollis nisi enim porttitor  ipsum lorem et. Accumsan ipsum eget.
        		Ultrices faucibus sodales maecenas pellentesque magna nam non. Sit tincidunt nunc sagittis  vitae placerat
        		magnis donec a non nisi.  Felis tellus quis eu ut sed lacus dui hendrerit non jnteger ante.  Amet semper euismod 
        		in phasellus at pretium amet.  Praesent amet fusce purus pellentesque ac sodales habitasse nam.</p>
    	</div>
    </div>
</div>
